$componentId: 'cv-form';

.#{$componentId} {
  &-exp {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      margin-left: 16px;
    }
  }

  &-actions {
    display: flex;
    justify-content: space-around;
  }
}
