<fieldset [formGroup]="experienceGroup">
  <legend>Experience</legend>
  <p>
    <label for="company">Company</label>
    <input
      type="text"
      id="company"
      formControlName="company"
      (blur)="onTouched()"
    />
  </p>
  <p>
    <label for="role">Role</label>
    <input type="text" id="role" formControlName="role" (blur)="onTouched()" />
  </p>
  <p>
    <label for="startDate">Start date</label>
    <input
      type="date"
      id="startDate"
      formControlName="startDate"
      (blur)="onTouched()"
    />
  </p>
  <p>
    <label for="endDate">End date</label>
    <input
      type="date"
      id="endDate"
      formControlName="endDate"
      (blur)="onTouched()"
    />
  </p>
</fieldset>
